@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .title-base {
        @apply font-semibold text-lg md:text-xl;
    }

    .wrapper {
        @apply px-[5vw] py-12 lg:py-24;
    }

    .title-ghost {
        @apply text-4xl md:text-5xl font-extrabold text-base-content/30;
    }

    .btn {
        text-transform: none;
    }
    
    .prose {
        @apply max-w-3xl w-[90vw]
    }
    
    .prose.formal h2 {
        counter-increment: heading;
    }
    
    .prose.formal h2:before {
        content: counter(heading, upper-roman)'. ';
    }
    
    .prose.formal ul {
        list-style-type: none;
    }
    
    .prose.formal ol,
    .prose ol ol {
        list-style-type: lower-alpha;
    }

    .prose.bulleted h2 {
        counter-increment: heading;
    }
    
    .prose.bulleted h2:before {
        content: counter(heading)'. ';
    }
}


.schedulely {
    height: 100%;
    line-height: normal;
    @apply rounded-box overflow-hidden;
}

.schedulely .day-of-week-layout {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    @apply rounded-none text-center md:text-left py-1 pb-3 md:pb-1 bg-base-200 border-b border-base-300 md:border-none;
}

.schedulely .default-day-of-week {
    @apply md:px-4;
}

.schedulely .event-week-layout {
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

.schedulely .event-week-layout>.event-week-layout-grid {
    display: grid;
    grid-area: 1/1;
    grid-auto-flow: dense;
    grid-template-columns: repeat(7, 1fr);
    position: relative;
    white-space: nowrap;
    z-index: 1;
    pointer-events: none;
    @apply gap-y-[1px] md:gap-y-1 [grid-template-rows:1.5fr_repeat(3,1fr)]
}

.schedulely .event-week-layout>.event-week-layout-grid>.event-week-layout-header-spacer {
    grid-column-end: 8;
    grid-column-start: 1;
    order: -999
}
.schedulely .event-week-layout>.event-week-layout-grid>.event-position-layout {
    min-height: 0;
    min-width: 0
}

.schedulely .calendar-body-container {
    display: grid;
    grid-template-rows: repeat(minmax(5, 6), minmax(0, 1fr));
    position: relative
}

.schedulely .week-container {
    display: grid;
    position: relative;
    @apply min-h-16 md:min-h-[6rem]
}

.schedulely .week-layout {
    display: grid;
    grid-area: 1/1;
    grid-template-columns: repeat(7, 1fr)
}

.schedulely .week-layout>div {
    @apply border-none md:border md:border-solid md:border-base-200 relative;
}